USE [master]
GO
/****** Object:  Database [Design]    Script Date: 07-09-2018 20:50:20 ******/
CREATE DATABASE [Design]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Design', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Design.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Design_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Design_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Design].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Design]
GO
/****** Object:  Table [dbo].[Activity]    Script Date: 07-09-2018 20:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity](
	[activityId] [int] NOT NULL,
	[activityName] [nchar](20) NULL,
	[activityDuration] [nchar](20) NULL,
	[cost] [int] NULL,
	[IsBooked] [nchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Air]    Script Date: 07-09-2018 20:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Air](
	[ticketNumber] [int] NULL,
	[departureStation] [nchar](20) NULL,
	[arrivalTime] [nchar](20) NULL,
	[departureTime] [nchar](20) NULL,
	[fare] [int] NULL,
	[seat] [int] NULL,
	[IsBooked] [nchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Car]    Script Date: 07-09-2018 20:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[carId] [int] NOT NULL,
	[carModel] [nchar](20) NULL,
	[cost] [int] NULL,
	[carName] [nchar](20) NULL,
	[IsBooked] [nchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 07-09-2018 20:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel](
	[hotelId] [int] NOT NULL,
	[hotelName] [nchar](20) NULL,
	[hotelAddress] [nchar](100) NULL,
	[fare] [int] NULL,
	[roomsAvailable] [int] NULL,
	[IsBooked] [nchar](10) NULL
) ON [PRIMARY]

GO
USE [master]
GO
